<footer>
    <div class="social-icons">
        <a href="https://wa.me/+918733826118" target="_blank"><img src="assets/images/footer/whatsapp_icon.png" alt="WhatsApp" class="icon"></a>
        <a href="https://linkedin.com/in/arabinda-sahu-817084214/" target="_blank"><img src="assets/images/footer/linkedin_icon.png" alt="LinkedIn" class="icon"></a>
        <a href="https://github.com/arabinda-sahu2002" target="_blank"><img src="assets/images/footer/github_icon.png" alt="GitHub" class="icon"></a>
        <a href="mailto:arabinda.k.sahu@gmail.com" target="_blank"><img src="assets/images/footer/email_icon.png" alt="Email" class="icon"></a>
    </div>
    <p>&copy; 2025 Arabinda Sahu. All Rights Reserved.</p>
  </footer>
  